@model IEnumerable<AttendanceManagementSystem.Models.ClassType>

@{
    ViewBag.Title = "Class Type";
}

<h3>Class Type</h3>

<button class="btn btn-sm btn-primary mb-4" onclick="location.href='@Url.Action("Create", "ClassTypes")'"><i class="fas fa-plus mr-2 txt-default"></i>Add a Class Type</button>


<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassTypeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTypeName)
                </td>
                <td>
                    <div class="form-inline">
                        @if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Edit", "ClassTypes", FormMethod.Get))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.ClassTypeID" />
                                <button type="submit" class="btn pt-0 pb-0" title="Edit Class Types"><i class="fas fa-edit"></i></button>
                            }

                            <button class="btn pt-0 pb-0 btnDelete" title="Delete Class Types" data-id="@item.ClassTypeID"><i class="fas fa-trash-alt"></i></button>
                        }
                    </div>
                </td>
            </tr>
        }

    </table>
</div>


<script>
    $('.btnDelete').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "@Url.Action("Delete", "ClassTypes")",
                        method: "post",
                        data: {
                            id: $(this).attr("data-id")
                        }
                    }).done(function (response) {
                        swal("Success", "Class type has been deleted!", {
                            icon: "success",
                        })
                            .then((value) => {
                                window.location.reload();
                            });
                    });

                }
            });
    });
</script>