@model IEnumerable<AttendanceManagementSystem.Models.Semester>

@{
    ViewBag.Title = "Semesters";
}

<h3>Semesters</h3>
<button class="btn btn-sm btn-primary mb-4" onclick="location.href='@Url.Action("Create", "Semesters")'"><i class="fas fa-plus mr-2 txt-default"></i>Add a Semester</button>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterName)
                </td>
                <td>
                    <div class="form-inline">

                        @if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Edit", "Semesters", FormMethod.Get))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.SemesterID" />
                                <button type="submit" class="btn pt-0 pb-0" title="Edit Semester"><i class="fas fa-edit"></i></button>
                            }

                            <button class="btn pt-0 pb-0 btnDelete" title="Delete Semester" data-id="@item.SemesterID"><i class="fas fa-trash-alt"></i></button>
                        }
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $('.btnDelete').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "@Url.Action("Delete", "Semesters")",
                        method: "post",
                        data: {
                            id: $(this).attr("data-id")
                        }
                    }).done(function (response) {
                        swal("Success", "Semester has been deleted!", {
                            icon: "success",
                        })
                            .then((value) => {
                                window.location.reload();
                            });
                    });

                }
            });
    });
</script>